{% extends 'TMS/base.html' %}
{% load static %}
{% block content %}

<div class="page-wrapper">
<div class="content container-fluid">

<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="page-title">Welcome {{ user.first_name }} {{ user.last_name }}!</h3>
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        <li class="breadcrumb-item active">Student Dashboard</li>
      </ul>
    </div>
  </div>
</div>


  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-nine w-100">
      <div class="card-body">
        <div class="db-widgets d-flex justify-content-between align-items-center">
          <div class="db-icon">
            <i class="fas fa-book-open"></i>
          </div>
          <div class="db-info">
            <h3>{{ total_subjects }}</h3>
            <h6>Subjects Enrolled</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-six w-100">
      <div class="card-body">
        <div class="db-widgets d-flex justify-content-between align-items-center">
          <div class="db-icon">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="db-info">
            <h3>{{ total_tests }}</h3>
            <h6>Tests Taken</h6>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-sm-6 col-12 d-flex">
    <div class="card bg-eleven w-100">
      <div class="card-body">
        <div class="db-widgets d-flex justify-content-between align-items-center">
          <div class="db-icon">
            <i class="fas fa-clipboard-check"></i>
          </div>
          <div class="db-info">
            <h3>{{ tests_passed }}</h3>
            <h6>Tests Passed</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-12 col-lg-12 col-xl-9">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-6">
            <h5 class="card-title">Today’s Lesson</h5>
          </div>
          <div class="col-6">
            <span class="float-right view-link"><a href="{% url 'all_courses' %}">View All Courses</a></span>
          </div>
        </div>
      </div>

      <div class="dash-circle">
        <div class="row">
          {% if lessons_today %}
            {% for lesson in lessons_today %}
            <div class="col-12 col-lg-6 col-xl-6 dash-widget3">
              <div class="card-body dash-widget1">
                <div class="circle-bar circle-bar2">
                  <div class="circle-graph2" data-percent="{{ lesson.progress }}">
                    <b>{{ lesson.progress }}%</b>
                  </div>
                  <h6>Lesson Learned</h6>
                  <h4>{{ lesson.completed }} <span>/ {{ lesson.total }}</span></h4>
                </div>
                <div class="dash-details">
                  <h4>{{ lesson.title }}</h4>
                  <ul>
                    <li><i class="fas fa-clock"></i> {{ lesson.start_time }} - {{ lesson.end_time }}</li>
                    <li><i class="fas fa-book-open"></i> {{ lesson.total }} Lessons</li>
                    <li><i class="fas fa-hourglass-end"></i> {{ lesson.duration }} Minutes</li>
                    <li><i class="fas fa-clipboard-check"></i> {{ lesson.assignments }} Assignment</li>
                  </ul>
                  <div class="dash-btn">
                    <button type="submit" class="btn btn-info btn-border">Skip</button>
                    <button type="submit" class="btn btn-info">Continue</button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <div class="col-12 text-center">
              <p>No lessons scheduled for today.</p>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-12 col-lg-12 col-xl-8 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col-6">
            <h5 class="card-title">Learning Activity</h5>
          </div>
          <div class="col-6">
            <ul class="list-inline-group text-right mb-0 pl-0">
              <li class="list-inline-item">
                <div class="form-group mb-0 amount-spent-select">
                  <select class="form-control form-control-sm">
                    <option>Weekly</option>
                    <option>Monthly</option>
                    <option>Yearly</option>
                  </select>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div id="apexcharts-area"></div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-12 col-xl-4 d-flex">
    <div class="card flex-fill">
      <div class="card-header">
        <h5 class="card-title">Learning History</h5>
      </div>
      <div class="card-body">
        <div class="teaching-card">
          <ul class="activity-feed">
            {% for record in recent_tests %}
              <li class="feed-item">
                <div class="feed-date1">{{ record.date_taken|date:"M d, h:i a" }}</div>
                <span class="feed-text1"><a>{{ record.subject.name }}</a></span>
                {% if record.score >= 50 %}
                  <p>Completed</p>
                {% else %}
                  <p><span>In Progress</span></p>
                {% endif %}
              </li>
            {% empty %}
              <p>No learning history available.</p>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<footer>
  <p>Copyright © 2025 SBL Learning Institute.</p>
</footer>

</div>
</div>

<!-- JS Files -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
<script src="{% static 'assets/js/circle-progress.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
